In [6]:
import sys
print ("Python Version")

Python Version

In [2]:
print (sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [3]:
print("Version info.")

Version info.

In [4]:
print (sys.version_info)

sys.version_info(major=3, minor=12, micro=4, releaselevel='final', serial=0)

In [ ]:

help('modules')

In [ ]:
import datetime
x = datetime.datetime.now()
print(x)

In [7]:
import datetime
x = datetime.datetime.now()
print(x)

2024-07-10 05:49:27.553168

In [19]:
import datetime
x = datetime.datetime. now()
print ("Current date and time :")
print (x.strftime("%d-%m-%y %H:%M:%S"))

Current date and time :
10-07-24 05:57:38

In [25]:
from math import pi
r = float(input("Enter the radius of the cicrle :"))
print("The area of the circle is : "  + str(r) + "")
str(pi *r*2)

Enter the radius of the cicrle : 4

The area of the circle is : 4.0

'25.132741228718345'

In [27]:
from math import pi
r = float(input("Enter the radius of the cicrle :"))
print("The area of the circle is : "  + str(r) + "")
str(pi *r**2)

Enter the radius of the cicrle : 1.1

The area of the circle is : 1.1

'3.8013271108436504'

In [28]:
from math import pi
pi

3.141592653589793

In [ ]:
''4.Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them

In [6]:
fname=input("Enter yhe first name")
lname=input("Enter the last name")
print("Hello " + lname +" " +fname)

Enter yhe first name Neethu
Enter the last name R

Hello R Neethu

In [ ]:
''5.Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [18]:
value = input("Enter the sequence of numbers with comma :")
list1 = value.split(',')
tuple1 = tuple(list1)
print (list1)
print (tuple1)

Enter the sequence of numbers with comma : 2,3,4,5,6,7

TypeError: 'list' object is not callable

In [19]:
input_sequence = input("Enter a sequence of comma-separated numbers: ")
list_of_strings = input_sequence.split(',')
list_of_numbers = [int(num) for num in list_of_strings]
tuple_of_numbers = tuple(list_of_numbers)
print("List:", list_of_numbers)
print("Tuple:", tuple_of_numbers)

Enter a sequence of comma-separated numbers:  2,3,4,5,6,

ValueError: invalid literal for int() with base 10: ''

In [24]:
values = input("Input some comma separated numbers : ")
list1 = values.split(",")
tuple1 = tuple.tuple1(list1)
print('List : ',list1)
print ('Tuple : ',tuple1)

Input some comma separated numbers :  2,3,4,5,6

AttributeError: 'list' object has no attribute 'tuple1'

In [25]:
text = "hello, my name is neethu"
x=text.split(",")
print (x)

['hello', ' my name is neethu']

In [26]:
txt = "apple#banana#cherry#orange"
x=txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
'''6.Write a Python program to accept a filename from the user and print the extension of that.

In [28]:
import datetime
today = datetime.datetime.now()
print (today)

2024-07-26 10:42:52.899274

In [29]:
print (str(today))

2024-07-26 10:42:52.899274

In [30]:
print (repr(today))

datetime.datetime(2024, 7, 26, 10, 42, 52, 899274)

In [ ]:

''''''7.Write a Python program to display the first and last colors from the following list.

In [31]:
color_list = ["Red","Green","White" ,"Black"]
print((color_list[0],color_list[-1]))

('Red', 'Black')

In [32]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [ ]:
''''8.Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [33]:
a=int(input("Enter an integer :"))
n1=int("%s" % a)
n2=int("%s%s"%(a,a))
n3=int("%s%s%s"%(a,a,a))
print(n1+n2+n3)

Enter an integer : 5

615

In [39]:
a=int(input("enter an integer :"))
n1=int("%s" % a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" % (a,a,a))
print(n1+n2+n3)

enter an integer : 5

615

In [ ]:
''''9.Write a Python program to get the volume of a sphere with radius 6.

In [42]:
from math import pi
pi

3.141592653589793

In [43]:
pi=3.141592653589793
r=6
volume=4.0/3.0*pi*r**3
print (volume)

904.7786842338603

In [ ]:
''''10. Write a Python program to convert seconds to day, hour, minutes and seconds.

In [46]:
time=float(input("Enter the time in seconds"))
day=time//(24*3600)
time=time%(24*3600)
hour=time//3600
time=time%3600
minute=time//60
time=time%60
seconds=time
print("d:h:m:s-> %d days : %d hour : %d minute : %d seconds"%(day,hour,minute,seconds))

Enter the time in seconds 2600

d:h:m:s-> 0 days : 0 hour : 43 minute : 20 seconds